<%= link_to 'Volver', workers_path, class: 'm-3 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded' %>

<h1 class="text-center mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white mt-5">Nuevo Trabajador</h1>
<%= render 'form'%>

